.logo
  // width 120px
  // height 60px
  height 88px
  // margin 2px 0
  &-text
    width 200px
    // margin-bottom 8px

  &--white
    width 160px
    // height 27px

.person
  width 60px
  margin-bottom 4px

.voucher
  max-width 192px
  margin 8px 0
  vertical-align middle

.photo
  width 80px
  height 80px
  margin 12px auto
  display table
  border-radius 50%
