.auth
  // _grid()
  min-height 100vh
  background url('assets/img/logo/Group 1.png') no-repeat center center / cover
  padding 16px
  display flex
  align-items center
  // justify-content center


  .social
    a
      padding 12px
      Top 4.15px
      Left 1.25px

      // color c-main-light-green
      // color c-main-purple
      
      color  rgba(255, 107, 0, 1);

  .social-icon-register {
  
  margin-right: 10px; /* Espaciado entre íconos */
  display: inline-block; /* Asegura que los íconos se alineen correctamente */
  width: 26px; /* Ajusta el tamaño según sea necesario */
  height: 26px; /* Ajusta el tamaño según sea necesario */
  border-radius: 8px; /* Bordes redondeados */
  }

  .facebook {
    background: rgba(255, 254, 253, 0.52);
     /* Fondo específico para Facebook */
  }

  .instagram {
    background: rgba(249, 199, 156, 0.52); /* Fondo específico para Instagram */
  }

  .youtube {
    background: rgba(249, 199, 156, 0.52); /* Fondo específico para YouTube */
  }

  .tiktok {
    background: rgba(249, 199, 156, 0.52);/* Fondo específico para TikTok */
  }

  .whatsapp {
    background: rgba(249, 199, 156, 0.52);/* Fondo específico para WhatsApp */
  }
  .social-icon {
  margin-right: 10px; /* Espaciado entre íconos */
  display: inline-block; /* Asegura que los íconos se alineen correctamente */
  width: 40px; /* Ajusta el tamaño según sea necesario */
  height: 40px; /* Ajusta el tamaño según sea necesario */
  border-radius: 13px; /* Bordes redondeados */
}

.facebook {
  background: rgba(249, 199, 156, 0.52);
   /* Fondo específico para Facebook */
}

.instagram {
  background: rgba(249, 199, 156, 0.52); /* Fondo específico para Instagram */
}

.youtube {
  background: rgba(249, 199, 156, 0.52); /* Fondo específico para YouTube */
}

.tiktok {
  background: rgba(249, 199, 156, 0.52); /* Fondo específico para TikTok */
}

.whatsapp {
  background: rgba(249, 199, 156, 0.52); /* Fondo específico para WhatsApp */
}
  // >header
  //   flex 1
  //   text-align center
  //   display none
  //   .social
  //     a
  //       background c-main-golden
  //       color c-main-red
  //       font-size 20px
  //       padding 12px
  //       margin 8px
  //       border-radius 50%
  //       width 44px
  //       height 44px

  >section
    // width 100%
    // align-self center
    flex 1


    .content
      max-width 350px
      margin auto


      .form
        // background c-ligh-gray
        background white
        border-radius 50px
        // border solid 1.5px c-main-blue
        // border solid 2px c-main-golden
        // border solid 2px c-main-light-green
        // border solid 2px c-main-purple
        padding 16px
        Width  (469px)
        Height  (671px)
        header
        section
          text-align center
      .links
        _flex()
        justify-content center
        padding 0 4px

.text-header
  display flex 
  align-items center  
  gap 20px
  padding 12px

@media (min-width: d-break)
  .text-header
    display none
@media (max-width: 1260px)
  .auth
    >section
      .form
        max-width 100%
        max-height: 590px;
  
@media (max-width: 1260px)
  .auth
    flex-direction column

  // >footer
  //   text-align right


// @media (min-width: d-break)
//   .auth
//     >header
//       display block
//       flex 1
//       text-align center
//     >section
//       .content
//         margin initial


