// breakpoints
m-break  = 767px
d-break  = 768px


// colors
c-gray      = #aaa3a3
c-ligh-gray = #eaebec

c-black = #282828
c-blue  = #0093cb
c-semi-dark-blue  = #001c50
c-dark-blue  = #00112b

c-main-blue   = #086eb6
c-main-green  = #5db02c

c-main-light-green  = #4BB167

c-main-red    = #991920
c-main-golden = #d9ad26

c-main-turk = #4fbbc3

// c-main-purple = #351251
// c-main-light-purple = #ab49cc
// c-main-light-green = #5db02c
c-main-light-green = #008F39
c-main-green = #326c10


c-red    = #ef476f
c-orange = #f78c6b
c-yellow = #ffd166
c-green  = #06d6a0

c-ligh-green = #80c700

c-msn = #00B2FF


// layout
_grid()
  display grid
  grid-template-rows auto 1fr auto

_flex()
  display flex
  justify-content space-between
  align-items center
